streamlit==1.32.1
transformers==4.36.2
torch==2.5.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
sentencepiece==0.2.0
reportlab==4.0.8
feedparser==6.0.11
pandas==2.1.4
stripe==9.2.0
requests==2.31.0
